.ul { 
    display: grid;
    margin-top: 0px;
    margin-bottom: 15px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-self: center;
    align-self: center;

}

.ul img {
    max-width: 30px;
    max-height: 30px;
}