.ul {
  display: grid;
  margin-top: 0px;
  margin-bottom: 15px;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-self: center;
  align-self: center;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: black;
  

}

.ul img {
  max-width: 30px;
  max-height: 30px;
  align-self: center;
  justify-self: center;
}

.ul h4 {
  margin-top: 6px;
  margin-bottom: -3px;
  padding-right: 15px;
  padding-bottom: -15px;
  padding-left: 15px;
  font-size: 22px;
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: center;
  justify-self: center;
  min-width: 120px;
  text-align: center;
}

ul p {
  justify-self: center;
  align-self: center;
  margin-top: -8px;
  margin-bottom: 2px;
}
