

.list{
    display:grid;
    min-height: 50vh;
    min-width: 80vh;
    margin-top: 15px;
    margin-bottom: 40px;
    grid-auto-columns: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}