.list {
  display: grid;
  min-height: 40vh;
  min-width: 80vw;
  margin-top: 20px;
  padding-left: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
