.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70vh;
    margin-top: 20px;
}

.forecast-list {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin-bottom: 80;
}